body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
  padding: 5px;
  background-color: #e7e8e2;
  font-family: 'Pinyon Script', cursive;
  overflow-x: hidden;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 1000px;
}

.header_text {
  font-size: 3em;
  color: #940240;
  margin: 25px 0 0 0;
}

.small_text {
  font-size: 1.5em;
  color: #010101;
  display: block;
  margin: 25px 0 0 0;
}

.collage {
  position: relative;
  max-width: 800px;
  height: 600px;
  margin: 30px auto;
  padding: 15px;
}

.photo {
  position: absolute;
  background-size: cover;
  background-position: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease,
    z-index 0.3s ease;
}

.photo:hover {
  transform: scale(1.1) !important;
  z-index: 100 !important;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.photo-3:hover {
  transform: translate(-50%, -50%) rotate(-2deg) scale(1.1) !important;
  z-index: 100 !important;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.photo-1 {
  background-image: url('./images/fxt1.JPG');
  width: 260px;
  height: 200px;
  top: 50px;
  left: 60px;
  transform: rotate(-8deg);
  z-index: 4;
}

.photo-2 {
  background-image: url('./images/fxt2.JPG');
  width: 240px;
  height: 240px;
  top: 40px;
  right: 90px;
  transform: rotate(10deg);
  z-index: 5;
}

.photo-3 {
  background-image: url('./images/fxt3.JPG');
  width: 320px;
  height: 220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-2deg);
  z-index: 10;
}

.photo-4 {
  background-image: url('./images/fxt4.JPG');
  width: 220px;
  height: 260px;
  bottom: 60px;
  left: 80px;
  transform: rotate(5deg);
  z-index: 3;
}

.photo-5 {
  background-image: url('./images/fxt5.JPG');
  width: 250px;
  height: 210px;
  bottom: 70px;
  right: 100px;
  transform: rotate(-6deg);
  z-index: 6;
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  .header_text {
    font-size: 2em;
  }

  .small_text {
    font-size: 1.5em;
  }

  .collage {
    height: 450px;
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  /* Center photo-3 as focal point with others around it */
  .photo-1 {
    width: 140px;
    height: 110px;
    top: 30px;
    left: 15px;
    transform: rotate(-8deg);
    z-index: 4;
  }

  .photo-2 {
    width: 125px;
    height: 125px;
    top: 25px;
    right: 20px;
    transform: rotate(10deg);
    z-index: 5;
  }

  .photo-3 {
    width: 190px;
    height: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-2deg);
    z-index: 10;
  }

  .photo-4 {
    width: 115px;
    height: 140px;
    bottom: 50px;
    left: 20px;
    transform: rotate(5deg);
    z-index: 3;
  }

  .photo-5 {
    width: 135px;
    height: 115px;
    bottom: 55px;
    right: 25px;
    transform: rotate(-6deg);
    z-index: 6;
  }

  /* Reduce hover effect on mobile */
  .photo:hover {
    transform: scale(1.05) !important;
  }
}
