body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e7e8e2;
    font-family: 'Pinyon Script', cursive;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #940240;
}

.collage {
    position: relative;
    max-width: 800px;
    height: 600px;
    margin: 30px auto;
    padding: 20px;
}

.photo {
    position: absolute;
    background-size: cover;
    background-position: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition:
    transform 0.3s ease,
    z-index 0.3s ease;
}

.photo:hover {
    transform: scale(1.1) !important;
    z-index: 100 !important;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.photo-1 {
    background-image: url('./images/fxt1.JPG');
    width: 280px;
    height: 220px;
    top: 20px;
    left: 50px;
    transform: rotate(-5deg);
    z-index: 2;
}

.photo-2 {
    background-image: url('./images/fxt2.JPG');
    width: 240px;
    height: 240px;
    top: 60px;
    right: 80px;
    transform: rotate(8deg);
    z-index: 2;
}

.photo-3 {
    background-image: url('./images/fxt3.JPG');
    width: 300px;
    height: 200px;
    top: 180px;
    left: 180px;
    transform: rotate(-3deg);
    z-index: 6;
}

.photo-4 {
    background-image: url('./images/fxt4.JPG');
    width: 220px;
    height: 260px;
    bottom: 80px;
    left: 50px;
    transform: rotate(6deg);
    z-index: 4;
}

.photo-5 {
    background-image: url('./images/fxt5.JPG');
    width: 260px;
    height: 220px;
    bottom: 60px;
    right: 100px;
    transform: rotate(-7deg);
    z-index: 1;
}

.photo-6 {
    background-image: url('./images/jeon.jpg');
    width: 200px;
    height: 200px;
    top: 260px;
    right: 30px;
    transform: rotate(4deg);
    z-index: 3;
}