body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: #e7e8e2;
  font-family: 'Pinyon Script', cursive;
  overflow-x: hidden;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 1000px;
}

.header_text {
  font-size: 3em;
  color: #940240;
  margin: 20px 0;
}

.small_text {
  font-size: 1.5em;
  color: #010101;
  display: block;
  margin: 20px 0;
}

.collage {
  position: relative;
  max-width: 800px;
  height: 600px;
  margin: 30px auto;
  padding: 20px;
}

.photo {
  position: absolute;
  background-size: cover;
  background-position: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease,
    z-index 0.3s ease;
}

.photo:hover {
  transform: scale(1.1) !important;
  z-index: 100 !important;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

.photo-1 {
  background-image: url('./images/fxt1.JPG');
  width: 280px;
  height: 220px;
  top: 20px;
  left: 50px;
  transform: rotate(-5deg);
  z-index: 2;
}

.photo-2 {
  background-image: url('./images/fxt2.JPG');
  width: 240px;
  height: 240px;
  top: 60px;
  right: 80px;
  transform: rotate(8deg);
  z-index: 2;
}

.photo-3 {
  background-image: url('./images/fxt3.JPG');
  width: 300px;
  height: 200px;
  top: 180px;
  left: 180px;
  transform: rotate(-3deg);
  z-index: 6;
}

.photo-4 {
  background-image: url('./images/fxt4.JPG');
  width: 220px;
  height: 260px;
  bottom: 80px;
  left: 50px;
  transform: rotate(6deg);
  z-index: 4;
}

.photo-5 {
  background-image: url('./images/fxt5.JPG');
  width: 260px;
  height: 220px;
  bottom: 60px;
  right: 100px;
  transform: rotate(-7deg);
  z-index: 1;
}

.photo-6 {
  background-image: url('./images/jeon.jpg');
  width: 200px;
  height: 200px;
  top: 260px;
  right: 30px;
  transform: rotate(4deg);
  z-index: 3;
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  .header_text {
    font-size: 2em;
    margin: 15px 0;
  }

  .small_text {
    font-size: 1.2em;
    margin: 15px 0;
  }

  .collage {
    height: 800px;
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
  }

  /* Vertical, less clustered layout for mobile */
  .photo-1 {
    width: 160px;
    height: 125px;
    top: 0px;
    left: 15px;
    transform: rotate(-5deg);
  }

  .photo-2 {
    width: 140px;
    height: 140px;
    top: 80px;
    right: 10px;
    transform: rotate(6deg);
  }

  .photo-3 {
    width: 180px;
    height: 120px;
    top: 220px;
    left: 10px;
    transform: rotate(-4deg);
  }

  .photo-4 {
    width: 140px;
    height: 165px;
    top: 330px;
    right: 20px;
    transform: rotate(7deg);
  }

  .photo-5 {
    width: 165px;
    height: 140px;
    top: 530px;
    left: 20px;
    transform: rotate(-6deg);
  }

  .photo-6 {
    width: 130px;
    height: 130px;
    top: 640px;
    right: 15px;
    transform: rotate(5deg);
  }

  /* Reduce hover effect on mobile */
  .photo:hover {
    transform: scale(1.05) rotate(0deg) !important;
  }
}

@media screen and (max-width: 480px) {
  .header_text {
    font-size: 1.8em;
  }

  .small_text {
    font-size: 1.1em;
  }

  .collage {
    height: 700px;
  }

  /* Smaller sizes for very small screens */
  .photo-1 {
    width: 140px;
    height: 110px;
    top: 0px;
  }

  .photo-2 {
    width: 120px;
    height: 120px;
    top: 90px;
  }

  .photo-3 {
    width: 155px;
    height: 105px;
    top: 200px;
  }

  .photo-4 {
    width: 120px;
    height: 145px;
    top: 300px;
  }

  .photo-5 {
    width: 145px;
    height: 120px;
    top: 460px;
  }

  .photo-6 {
    width: 115px;
    height: 115px;
    top: 570px;
  }
}
